
<div class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">

            <!-- Site Map Section -->
            <div class="col-md-4">
                <h5>Site Haritası</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" href="#">Ana Sayfa</a></li>
                    <li><a class="text-white" href="#">Tüm Kitaplar</a></li>
                    <li><a class="text-white" href="#">Kampanyalar</a></li>
                    <li><a class="text-white" href="#">İletişim</a></li>
                </ul>
            </div>

            <!-- Contacts Section -->
            <div class="col-md-4">
                <h5>İletişim</h5>
                <p>Email: info@pointbooks.com</p>
                <p>Telefon: +90 551 555 5555</p>
                <p>Adres: İmbatlı Mh., 6076/2. Sk., 35575 Karşıyaka/İzmir</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy: 2024 PointBooks. Test projesidir</p>
            </div>

        </div>
    </div>
</div>